body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.navbar {
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
    font-weight: bold;
    font-size: large;
}

.comment-container {
    margin-top: 10px;
    border-style: solid;
}

a {
    text-decoration: none;
}

.blog-text-container {
    border-style: solid;
    margin-bottom: 5px;
    padding: 2px;
    /* background-color: #42bff5; */
}

.card {
    margin-top: 10px;
    border-style: solid;
    color: black
    /* background-color: #42bff5; */
}

.card-header {
    font-size: 25px;
    font-weight: bold;
}

.comment-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
    /* background-color: #42bff5; */
    color: black;
}

.blog-comments {
    font-size: 14px;
    width: 290px;
}

.signin, .signup {
    margin-left: 25px;
}

.sign-in-form, .sign-up-form {
   width: 350px; 
}

a:link {
    color: blue
}

a:hover {
    color: purple
}





